*{
	margin: 0;
}

ul li a{
	font-size: 30px;
}


/*стрелочка - непосредственное вложение, пробелы(там еще что-тщ может быть)*/
ul > li > a{
	background-color: cornflowerblue;
}


/*на том же уровне вложенности с ссылкой, после а*/
ul > li > a ~ p{
	color: pink;
}

/*на том же уровне вложенности непосредственно после ссылки*/
ul > li > a + p{
	color: violet;
}





/*специальные селекторы*/

/*атрибут равен =*/
input[type='text']{

}

/*атрибут содержит*/ /* применяется ко всем картинкам, где в пути есть posts*/
img[src*='/posts/']{

}

/*атрибут заканчивается*/
img[src$='.png']{

}

/*атрибут начинается с*/
a[href^='http']{

}
